/* TEMP: PAGE CSS */

body {
  font-family:"Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  margin: 0;
  padding: 0
}

header {
  min-height: 123px;
  background-color: #edf0f3;
  box-shadow: -1px 2px 5px 0 rgba(0, 0, 0, 0.5);
  z-index: 1
}
footer {
  margin-top: 70px;
  min-height: 185px;
  height: 370px;
  background-color: #a9a9a9;
}


/* TEMP: Delete later? */
.form-container ~ footer {
  display: none
}
.m-form::after {
  position:absolute;width:0;height:0;overflow:hidden;z-index:-1;
  content:url(../img/eye-show-3.svg) url(../img/eye-hide-3.svg);
}
/* Main CSS */
html.fp-m-form, html.fp-m-form body {
  height: 100%
}
html.fp-m-form body {
  background: radial-gradient(circle at top left, #cce9f5c7 0%, rgba(204, 233, 245, 0.64) 32%, #93cef5e6 100%);
  background-color: antiquewhite
}
.form-container {
  max-width: 440px;
  box-shadow: 0 2px 6px 1px rgba(0, 0, 0, 0.16);
  border-radius: 4px;
  color: #333;
  font-size: 14px;
  background-color: #fff;
  margin: 0 auto;
  margin-top: 75px
}
.form-container .pd--lr {
  padding-left: 60px;
  padding-right: 60px
}
.form-container .pd--b {
  padding-bottom: 40px
}
.form-container .pd--t {
  padding-top: 40px
}
.form-container h1, .form-container h2, .form-container h3, .form-container h4 {
  margin: 0;
  text-align: center;
  font-weight: 600
}
.form-container p {
  margin: 0
}
.form-container h1 {
  margin-bottom: 20px;
  font-size: 1.643em
}
.form-container h2 {
  margin-bottom: 10px;
  font-size: 1em
}
.form-topline {
  border-bottom: 1px solid #D9D9D9;
  padding-bottom: 15px;
  padding-top: 15px;
  margin: 0 0 50px 0
}
.form-topline p {
  text-align: center
}
.alert-msg {
  margin-bottom: 5px;
  border-radius: 1px;
  box-shadow: 0 2px 4px #0000001c;
  color: #A94442;
  background-color: #F2DEDE
}
.alert-msg span {
  display: block;
  padding: 10px 15px
}
.m-form + .splitter {
  margin-top: 75px
}
.m-form + p {
  margin-top: 25px;
  text-align: center
}
.m-form + p + .splitter {
  margin-top: 38px
}
.f-policy {
  font-size: 12px
}

/* Media */

@media (max-width: 479px) {
  html.fp-m-form body {
    background: none
  }
  .form-container {
    width: 100%;
    background-color: white;
    box-shadow: none;
    border-radius: 0;
    border: none;
    margin-top: 30px
  }
  .form-container h1 {
    margin-bottom: 14px
  }
  .form-topline {
    border-top: 1px solid #D9D9D9;
    margin: 0 0 35px 0;
  }
  .form-container .pd--lr {
    padding-right: 6vw;
    padding-left: 6vw
  }
}



/* Second Create Half - Relocate later */
.form-container.dw-b {
  max-width: 880px;
  flex-direction: row;
  display: -webkit-box;
  display: flex
}
.form-container.dw-b > div {
  width: 50%
}
.form-container.dw-b .form-banner {
  overflow: hidden;
  position: relative;
  background: center / cover no-repeat;
  background-image: url("../img/form-bnr.jpg");
  background-image: -webkit-image-set(url("../img/form-bnr.webp")1x);
  border-radius: 0 4px 4px 0
}
.form-banner > div {
  padding: 22px 30px 0;
  color: #616161
}
.form-banner > div h2 {
  text-align: left;
  font-size: 1.4em;
  margin-bottom: 0.8em
}
.form-banner > div ul {
  list-style-position: outside;
  padding: 0 0 0 20px
}
.form-banner > div ul li {
  margin-bottom: 3px
}
.form-banner > div ul span {
  font-weight: 300;
  position: relative;
  left: -4px
}
.form-container.dw-b .form-banner > * {
  position: absolute;
}
.form-banner picture {
  filter: contrast(0.9);
}

@media (max-width: 1010px) {
  .form-container.dw-b {
    max-width: 440px;
    /* border: 1px solid #0000000f*/
  }
  .form-container .form-banner {
    display: none
  }
  .form-container.dw-b > div {
    width: 100%
  }
}
