/* TEMP: PAGE CSS */

body {
  font-family:"Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  margin: 0;
  padding: 0
}

header {
  min-height: 123px;
  background-color: #edf0f3;
  box-shadow: -1px 2px 5px 0px rgba(0, 0, 0, 0.5);
  z-index: 1
}
footer {
  margin-top: 70px;
  min-height: 185px;
  height: 370px;
  background-color: #a9a9a9;
}


/* TEMP: Delete later? */
.form-container ~ footer {
  display: none
}
.m-form::after {
  position:absolute;width:0;height:0;overflow:hidden;z-index:-1;
  content:url(../img/eye-show-3.svg) url(../img/eye-hide-3.svg);
}
/* Main CSS */
html.fp-m-form, html.fp-m-form body {
  height: 100%
}
html.fp-m-form body {
  background: radial-gradient(circle at top left, #cce9f5c7 0%, rgba(204, 233, 245, 0.64) 32%, #93cef5e6 100%);
  background-color: antiquewhite
}
.form-container {
  max-width: 880px;
  box-shadow: 0 2px 6px 1px rgba(0, 0, 0, 0.16);
  border: 1px solid #0000000f;
  border-radius: 4px;
  color: #333;
  font-size: 14px;
  background-color: #fff;
  margin: 0 auto;
  margin-top: 75px
}
.form-container .pd--lr {
  padding-left: 60px;
  padding-right: 60px
}
.form-container .pd--b {
  padding-bottom: 40px
}
.form-container .pd--t {
  padding-top: 40px
}
.form-container h1, .form-container h2, .form-container h3, .form-container h4 {
  margin: 0;
  text-align: center;
  font-weight: 600
}
.form-container p {
  margin: 0
}
.form-container h1 {
  margin-bottom: 20px;
  font-size: 1.643em
}
.form-container h2 {
  margin-bottom: 10px;
  font-size: 1em
}
.form-topline {
  border-bottom: 1px solid #D9D9D9;
  padding-bottom: 15px;
  padding-top: 15px;
  margin: 0 0 50px 0
}
.form-topline p {
  text-align: center
}
.m-form + .splitter {
  margin-top: 75px
}
.m-form + p {
  margin-top: 25px;
  text-align: center
}
.m-form + p + .splitter {
  margin-top: 38px
}
.f-policy {
  font-size: 12px
}
#password ~ .unmask {
  height: 2.4625rem;
  background: center / 22px no-repeat url(../img/eye-show-3.svg);
  opacity: 0.8;
  padding: 0 14px 0 0;
  width: 22px
}
.m-form #password[type='text'] ~ span.unmask {
  background-image: url(../img/eye-hide-3.svg)
}
/*
input ~ .unmask::before {
  content: "\1F441";
  content: url("data:image/svg+xml;charset=UTF-8, <svg xmlns="http://www.w3.org/2000/svg" width="470.7" height="268.97" viewBox="0 0 470.7 268.97"><title>eye-show</title><path d="M320,105.51c-86,0-153.08,51.27-235.35,134.49C155.47,311.13,214.93,374.49,320,374.49s182.19-80.27,235.35-133C500.93,179.69,423.81,105.51,320,105.51Zm0,230.41c-51.9,0-94.14-43.08-94.14-95.93S268.1,144.07,320,144.07s94.14,43.08,94.14,95.93S371.9,335.93,320,335.93Z" transform="translate(-84.65 -105.51)"/><path d="M320,206.38a33.73,33.73,0,0,1,8-21.75,50.14,50.14,0,0,0-8-.63c-30.26,0-55,25.11-55,56s24.69,56,55,56,55-25.11,55-56c0-2.42-.21-4.83-.42-7.25A33.66,33.66,0,0,1,320,206.38Z" transform="translate(-84.65 -105.51)"/></svg>");
}*/

/* Parsley Styling */
.parsley-errors-list {
padding:0;
opacity:0;
list-style-type:none;
position:absolute;
padding-right:12px;
font-size:12px;
line-break:unset;
top:0;
white-space:nowrap;
color:#e23030;
align-self:flex-end;
margin-top:7px;
transition:all .3s ease-in;
-o-transition:all .3s ease-in;
-moz-transition:all .3s ease-in;
-webkit-transition:all .3s ease-in
}

.parsley-errors-list.filled {
opacity:1
}

.parsley-errors-list > li {
background-color:#fff;
background:#fff;
box-shadow:6px 0 0 white,-6px 0 0 #fff
}

input[type='number'] + ul.parsley-errors-list {
position:relative;
margin-top:4px
}

input[type='number'] + ul.parsley-errors-list > li {
background-color:transparent;
background:none;
box-shadow:none
}
input[type].parsley-error, textarea.parsley-error {
  border-color: #e23030;
}

/* Media */

@media (max-width: 479px) {
  html.fp-m-form body {
    background: none
  }
  .form-container {
    width: 100%;
    background-color: white;
    box-shadow: none;
    border-radius: 0;
    border: none;
    margin-top: 30px
  }
  .form-container h1 {
    margin-bottom: 14px
  }
  .form-topline {
    border-top: 1px solid #D9D9D9;
    margin: 0 0 35px 0;
  }
  .form-container .pd--lr {
    padding-right: 6vw;
    padding-left: 6vw
  }
}



/* Second Create Half - Relocate later */
.form-container.banner {
  flex-direction: row;
  display: -webkit-box;
  display: flex
}
.form-container.banner > div {
  max-width: 50%
}
.form-container.banner .form-banner {
  overflow: hidden;
  position: relative;
  border-radius: 0 4px 4px 0;
  width: 100%
}
.form-banner > div {
  padding: 22px 30px 0;
  color: #616161
}
.form-banner > div h2 {
  text-align: left;
  font-size: 1.4em;
  margin-bottom: 0.8em
}
.form-banner > div ul {
  list-style-position: outside;
  padding: 0 0 0 20px
}
.form-banner > div ul li {
  margin-bottom: 3px
}
.form-banner > div ul span {
  font-weight: 300;
  position: relative;
  left: -4px
}
.form-container.banner .form-banner > * {
  position: absolute;
}
.form-banner picture {
  filter: contrast(0.9);
}

@media (max-width: 1010px) {
  .form-container.banner {
    max-width: 440px
  }
  .form-container .form-banner {
    display: none
  }
  .form-container.banner > div {
    max-width: 100%
  }
}
